footer {
    background-color: #1F1F1F;
    color: white;
    justify-content: center; 
    width: 100%;
}

.mainNameFooter {
    margin: auto;

}

.copyright {
    margin-top: 50px;
    margin-right: 10px;
    font-size: 10px;
}

.copyrightLink {
    text-decoration: none;
    color: white;
}

footer a:link, a:visited {
    text-decoration: none;
    text-shadow: none;
    color: white;
}
  
footer .media-icons {
    size: 20px;
}

.nav-linkFooter {
    color: var(--light);
    font-size: 15px;	
}

.contactFooter {
    text-align: center;
    
}

.emailFooter {
    font-size: 10px;
    margin-left: 10px;
}