footer {
    background-color: #1F1F1F;
    color: var(--light);
    justify-content: center; 
    width: 100%;
}

.mainNameFooter {
    margin: auto;
    text-align: center;
}

.copyright {
    margin-top: 50px;
    margin-right: 10px;
    font-size: 10px;
}

.copyrightLink {
    text-decoration: none;
    color: var(--light);
}

footer a:link, footer a:visited {
    text-decoration: none;
    text-shadow: none;
    color: var(--light);
}

footer a:link:hover{
    font-style: italic;
}

.nav-linkFooter {
    color: var(--light);
    font-size: 15px;	
}

.contactFooter {
    text-align: center;
    
}

.emailFooter {
    font-size: 10px;
    margin-left: 10px;
}