.exitImgBtn {
    width: 50%;
    height: 35px;
    background-color: rgb(31,31,31);
    border-radius: 20px;
    font-size: 60%;
    color: var(--light);
    cursor: pointer;
    margin-bottom: 10px;
}

.exitImgBtn:hover {
    font-style: italic;
}

.modalImage{
    object-fit: cover;
    width: 50%;
    height: 70%;
}