section {
    text-align: center;
}

.contact-info {
    font-size: 13px;
}

.contact-form {
    display: block
}

h2 {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.halfInput {
    width: 30%;
    height: 40px;
    margin: 10px;
    border: none;
    border-bottom: black solid 1px;
}

.fullInput {
   width: 62%;
   height: 40px;
   border: none;
   border-bottom: black solid 1px;
}

textarea{
    margin-top: -58px;
    width: 62%;
    border: none;
    border-bottom: black solid 1px;
}

.name-emailWrapper {
margin-bottom: -28px;
}

.phone-addressWrapper {
    margin-bottom: -28px;
}

fieldset {
    border: none;
}

.submitButton {
    width: 62%;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.errorText {
    color: red;
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: 0px;
}