.servicesWrapper {
    background-color: var(--background);
}

.serviceWrapper {
    justify-content: center;
}

.h2Title{
    text-align: center;
}

.collectionImg {
    object-fit: cover;
    width:400px;
    height:500px;
}

.collectionText {
    position: relative;
    width: 340px;
}

.collectionTitle {
    margin-left: 20px;
    padding-right: 10px;
}

.collectionPrice {
    font-size: 30px;
    margin-top: -40px;
    margin-left: 70px;
}

.collectionList {
    margin-top: -20px;
}

.collectionListItem {
    font-size: 20px;
    margin-left: 20px;
}

.collectionDetails {
    font-size: 13px;
    margin-left: 30px;
    color: var(--dark);
    position: absolute;
    bottom: 90px;
}

.collectionDetails:hover {
    font-style: italic;
}

.collectionInquire {
    height: 50px;
    width: 200px;
    font-size: 18px;
    color: var(--light);
    background-color: var(--dark);
    position: absolute;
    bottom: 25px;
    margin-left: -40px;
    border: solid var(--dark);
    border-radius: 10px;
    cursor: pointer;
}

.collectionInquire:hover {
    font-style: italic;
}

.collectionGallery {
    font-size: 15px;
    position: absolute;
    bottom: 28px;
    margin-left: 180px;
    font-family: 'Josefin Slab', serif;
    color: var(--dark);
}

.collectionGallery:hover {
    font-style: italic;
}

/* Left CSS */

.collectionLeftImg {
    object-fit: cover;
    width:400px;
    height:500px;
}

.collectionLeftTitle {
    float: right;
    margin-right: 20px;
}

.collectionLeftPrice {
    float: right;
    font-size: 30px;
    margin-right: 40px;
    margin-top: -40px;
}

.collectionLeftList{
    float: right;
    margin-top: -20px;
    margin-right: 0px;
}

.collectionLeftListItem {
    margin-right: 20px;
    font-size: 20px;
}

.collectionLeftInquire {
    height: 50px;
    width: 200px;
    font-size: 18px;
    color: var(--light);
    background-color: var(--dark);
    border: solid var(--dark);
    border-radius: 10px;
    cursor: pointer;
}

.collectionLeftInquire:hover {
    font-style: italic;
}

.collectionLeftGallery {
    font-size: 15px;
    font-family: 'Josefin Slab', serif;
    color: var(--dark);
    margin-right: 20px;
}

a:link {
    text-decoration: none;
}

a:link:hover {
    font-style: italic;
}

.random {
    float: right;
    position: relative;
    bottom: -170px;
    margin-right: -40px;
}

.collectionLeftDetails {
    float: right;
    font-size: 13px;
    margin-left: 30px;
    color: var(--dark);
    position: relative;
    bottom: -230px;
    margin-right: -260px;
}

.collectionLeftDetails:hover {
    font-style: italic;
}

.collectionPhoneText {
    display: none;
}

