:root {
  --light: #fafafa;
  --dark: #000;
  --error: rgb(228, 46, 1);
  --primary: #bf764c;
  --secondary: #f7d6bd;
  --terciary: #db9a68;
  --quartinary: #ad704f;
  --activeLink: #CBBCAB;
  --background: #E3E2DE;
  --borderColor: #858568;
  --footerColor: rgb(31,31,31);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 40px;
  letter-spacing: .1em;
  font-family: 'Raleway', sans-serif;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

h1{
  font-size: 30px;
  margin-left: 10px;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  font-size: 60px;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0px;
  font-family:'Raleway', sans-serif;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.hambergerMenu {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}

#toggle {
  display: none;
}

.headerPhoneImage {
  display: none;
}

@media screen and (max-width: 1000px) {
  .headerImg {
    display: none;
  }

  .headerPhoneImage {
    display: block;
    width: 80%;
  }

  .mainName {
    background-color: var(--secondary);
  }

  .hambergerMenu {
    display: block;
    cursor: pointer;
    float: right;
  }

  .navBar {
    display: block;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navLink {
    text-align: center;
  }

  .dropdown {
    margin-top: 0 !important;
    align-items: center;
  }

  .dropdown-content {
    background-color: var(--secondary) !important;
    border: solid var(--dark) 1px !important;
    display: none;
    margin-left: 25% !important;
    margin-right: 25% !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
  }

  #toggle:checked + .navBar {
    display: block;
  }

  .rec-pagination {
    display: none !important;
  }

  .rec-item-wrapper {
    margin-left: -0px !important;
  }

  .contactFooter {
    margin: auto;
  }
  .copyrightText {
    margin:auto
  }

  .halfToFullInput {
    display: block;
    justify-content: center;
    width: 95% !important;
    margin: auto !important;
    margin-bottom: 20px!important;
  }

  .name-emailWrapper {
    margin: 0 !important;
  }

  .phone-addressWrapper {
    margin: 0 !important;
  }

  .contactWrapper {
    width: 100% !important;
  }

  .packageWrapper {
    border: none !important;
  }

  .collectionImg {
    width: 90% !important;
  }

  .collectionInquire {
    bottom: 15px !important;
    margin-left: 50px !important;
  }

  .serviceWrapper {
    width: 100% !important;
  }

  .collectionTitle {
    margin-top: 0px;
  }

  .collectionWrapper {
    text-align: center;
  }

  .collectionLeftWrapper {
    text-align: center;
    margin: 0 10px 0 10px !important;
  }

  .collectionDetails {
    bottom: 75px !important;
  }

  .collectionGallery {
    bottom: 73px !important;
  }

  .collectionLeftText {
    display: none;
  }

  .collectionLeftImg {
    width: 300px !important;
  }

  /* phone collection */

  .collectionPhoneText {
    display: block!important;
    position: relative !important;
    width: 340px!important;
}

.collectionPhoneTitle {
    margin-left: 20px!important;
    padding-right: 10px!important;
}

.collectionPhonePrice {
    font-size: 30px!important;
    margin-top: -40px!important;
    margin-left: 70px!important;
}

.collectionPhoneList {
    margin-top: -20px!important;
}

.collectionPhoneListItem {
    font-size: 20px!important;
    margin-left: 25px!important;
}

.collectionPhoneDetails {
    font-size: 13px!important;
    margin-left: 30px!important;
    color: var(--dark)!important;
    position: absolute!important;
    bottom: 75px !important;
}

.collectionPhoneDetails:hover {
    font-style: italic!important;
}

.collectionPhoneInquire {
    height: 50px!important;
    width: 200px!important;
    font-size: 18px!important;
    color: var(--light)!important;
    background-color: var(--dark)!important;
    position: absolute!important;
    border: solid var(--dark)!important;
    border-radius: 10px!important;
    cursor: pointer!important;
    bottom: 15px !important;
    margin-left: 50px !important;
}

.collectionPhoneInquire:hover {
    font-style: italic!important;
}

.collectionPhoneGallery {
    font-size: 15px!important;
    position: absolute!important;
    bottom: 73px !important;
    margin-left: 180px!important;
    font-family: 'Josefin Slab', serif!important;
    color: var(--dark)!important;
}

.collectionPhoneGallery:hover {
    font-style: italic!important;
}

/* end of phoneCollection */

  .specificPackageText {
    padding-bottom: 30px;
  }

  .paddingText {
    padding-bottom: 40px;
  }

  .silverPhoneTitle {
    margin-bottom: -20px;
  }

  .silverPhonePrice {
    margin-bottom: -35px;
  }

  .slashSpan {
    display: none;
  }

  .weddingListItem {
    margin-left: -25px !important;
  }

}



