:root {
  --light: #fafafa;
  --dark: #000;
  --error: rgb(228, 46, 1);
  --primary: #bf764c;
  --secondary: #f7d6bd;
  --terciary: #db9a68;
  --quartinary: #ad704f;
  --borderColor: #858568;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 40px;
  letter-spacing: .1em;
  font-family: 'Roboto', sans-serif;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}