.maternityWrapper {
    background-color: var(--background);
}

.maternityCardWrapper {
    width: 800px;
}

.maternityImg {
    margin-left: 20px;
    margin-bottom: 20px;
}

.maternityTextWrapper {
    margin-left: 20px;
}

.maternityInquire {
    position: absolute;
    bottom: 150px;
    margin-left: -60px;
}

.packageWrapper {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 0px;
    background-color: var(--secondary);
    width: 900px;
    border: solid var(--activeLink) 4px;
    margin-bottom: 20px;
}