.homeWrapper {
    background-color: var(--background);
    padding-bottom: 20px;
}

.homeTitle {
    position: absolute;
    left: 45%;
    right: 50%;
    top: 0;
}

.reviewsTitle {
    margin: auto;
    margin-bottom: 10px !important;
}

.referenceWrapper {
    text-align: center;
}

.referenceCardWrapper {
   margin: auto;
    margin-top: -15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--secondary);
    width: 900px;
    border: solid var(--activeLink);
}

.references {
    margin-left: auto;
    list-style: none;
    font-size: 18px;
    width: 180px;
    float: left;
}

.referenceName {
    cursor: pointer;
    margin-bottom: 10px;
}

.referenceName:hover{
    font-style: italic;
}

.referenceImg {
    object-fit: cover;
    width:350px;
    height:500px;
}

.referenceTextWrapper {
    float: right;
}

.referenceTitleName {
    margin-top: -15px;
    margin-bottom: -15px;
    font-size: 25px;
    text-decoration: underline black 2px;
}

.referenceText {
    margin-left: 10px;
    font-size: 18px;
    width: 350px;
}

.referenceNameActive {
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;
}

.referenceNameActive:hover{
    font-style: italic;
    cursor: pointer;
}

.header-image {
    object-fit: cover;
    width: 100%;
}

.home-carousel .rec-carousel {
    width: 102%;
}


.home-background-image {
    position: relative;
    margin-left: 10%;
    width: 80%;
    border: solid var(--dark);
}

.text-wrapper {
    position: absolute;
    background-color: var(--secondary);
    text-align: center;
    width: 30%;
    font-size: 18px;
    padding: 10px 20px;
    margin-left: 65%;
    margin-top: -50%;
    border: solid var(--activeLink);   
}