.navBar {
    justify-content: center;
    background-color: var(--secondary);
}

.nav-link {
    border-radius: 5px;
    color: var(--dark) !important;
    padding: 2px 4px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    padding-top: 2px;
    font-size: 18px;	
    text-decoration: none;
}

.nav-link:hover{
    font-style: italic;
}

.nav-linkActive {
    border-radius: 5px;
	padding: 2px 4px;
	margin-left: 20px;
	margin-right: 20px;
    padding-top: 2px;
    font-size: 18px;	
    text-shadow: none;
    color: var(--primary) !important;
    font-style: italic;
}

.nav-linkActiveDropdown {
    color: var(--primary) !important;
    background-color: #ddd
}

.mainName {
    text-align: center;
}

.dropbtn:hover, .dropbtn:focus {
    font-style: italic;
    cursor: pointer;
}

.dropdown {
    margin-top: 27px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display:block;
}