.navBar {
    justify-content: center;
    background-color: var(--secondary);
}

.nav-link {
    border-radius: 5px;
    color: var(--dark) !important;
    padding: 2px 4px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    padding-top: 2px;
    font-size: 18px;	
    text-decoration: none;
}

.nav-link:hover{
    font-style: italic;
}

.nav-linkActive {
    border-radius: 5px;
	color: var(--dark);
	padding: 2px 4px;
	margin-left: 20px;
	margin-right: 20px;
    padding-top: 2px;
    font-size: 18px;	
    text-shadow: none;
    color: var(--primary) !important;
    font-style: italic;
}

.mainName {
    text-align: center;
}


